footer {
  position: fixed;
  bottom: 0%;
  left: 50%;
  transform: translate(-50%, 0);
}

nav {
  position:sticky;
  top: 0;
  z-index: 3;
  background-color: rgb(2, 9, 4);
  font-weight: 2em;
}

#nav-logo {
  margin-left: 1%;
  max-height: 2em;
}

