footer {
  position: fixed;
  bottom: 0%;
  left: 50%;
  transform: translate(-50%, 0);
}

nav {
  position:fixed;
  top: 0;
  z-index: 3;
  background-color: rgb(2, 9, 4);
  font-weight: 2em;
  margin-bottom: 1em;
}

#nav-logo {
  margin-left: 1%;
  max-height: 2em;
  position: fixed;
  top: 2em;
}

.navbar {
  height: 5em;
  z-index: 3;
  margin-bottom: 1em;
  background-color: rgb(2, 9, 4);
}

#nav-container {
  position: fixed;
  top: 2em;
  left: 3em;
  background-color: rgb(2, 9, 4);
  margin-bottom: 1em;
}

div.carousel-caption {
  color: white;
  
}

div.carousel-item {
  height: 20em;
}

.carouselImage {
  height: 100%;
  width: auto;
}

.carousel .carousel-indicators button {
  background-color: white;
}